## Uppgift 1
I den här uppgiften ska du visualisera med hjälp av matplotlib
  a) Börja med att läsa in filen riket2023_åk9_np.xlsx och sheets för de olika ämnena (engelska, matematik, svenska,
svenska som andraspråk). Ändra kolumnnamnen på respektive dataframe så du får något liknande som nedan.

##### --- Set up ---

In [1]:
import pandas as pd
from read_data import read_data, read_data_2, clean_sheet

In [2]:
# xls = "data/riket2023_åk9_np.xlsx"
# df = pd.ExcelFile(xls)  
# print(df.sheet_names)

##### --- Load Data ---

In [3]:
excel_file = "data/riket2023_åk9_np.xlsx"

#dfs = read_data(excel_file, 8)

df = read_data_2(excel_file, 8)

16
16

In [5]:
df_matematik = clean_sheet(df, "Matematik")
df_matematik

,Plats,Huvudman,Totalt (A-F),Flickor (A-F),Pojkar (A-F),Totalt (A-E),Flickor (A-E),Pojkar (A-E),Totalt (poäng),Flickor (poäng),Pojkar (poäng)
0,Riket,Samtliga,106766,51548,55218,89.1,88.7,89.5,11.9,11.8,12.0
1,Riket,Kommunal,84163,40386,43777,88.1,87.7,88.5,11.6,11.5,11.7
2,Riket,Enskild,22553,11137,11416,92.9,92.2,93.5,13.0,12.8,13.1
3,Riket,Skolverket,50,25,25,100.0,100.0,100.0,14.1,13.5,14.7