## Uppgift 1
I den här uppgiften ska du visualisera med hjälp av matplotlib
  a) Börja med att läsa in filen riket2023_åk9_np.xlsx och sheets för de olika ämnena (engelska, matematik, svenska,
svenska som andraspråk). Ändra kolumnnamnen på respektive dataframe så du får något liknande som nedan.

##### --- Set up ---

In [53]:
import pandas as pd
from read_data import read_cleaned_data

##### --- Load Data ---

In [ ]:
excel_file = "data/riket2023_åk9_np.xlsx"
#df = read_cleaned_data(excel_file, 8)
df = pd.read_excel(excel_file, skiprows=8, index_col=None)


df.rename(columns={'Riket': 'Plats', 'Typ av huvudman': "Huvudman",
                    'Totalt': 'Totalt\n (A-F)', 'Flickor': 'Flickor\n (A-F)', 
                    'Pojkar': 'Pojkar\n (A-F)', 'Totalt': 'Totalt\n (A-E)',
                    'Flickor': 'Flickor\n (A-E)', 'Pojkar':'Pojkar\n (A-E)', 
                    'Totalt':'Totalt\n (poäng)', 'Flickor': 'Flickor\n (poäng)',
                    'Pojkar': 'Pojkar\n (poäng)'}, inplace=True)
                    
df.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Grundskolan - Resultat nationella prov årskurs...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Engelska,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Valt läsår: 2022/23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,Antal elever med provbetyg A-F,NaN,NaN,Andel (%) med provbetyg A-E,NaN,NaN,Genomsnittlig betygspoäng,NaN,NaN
7,Riket,Typ av huvudman,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar
8,Riket,Samtliga,106941,51864,55077,97,97.1,97,15.7,15.8,15.7
9,Riket,Kommunal,84310,40675,43635,96.6,96.6,96.6,15.4,15.5,15.4